.btn {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  border: 0;
  border-radius: 3px;

  width: 240px;
  height: 45px;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.btn_ligth-blue {
  background: #1690c3;
  color: #ffffff;
  transition: 0.3s;
  white-space: nowrap;
  position: relative;
}
.btn_ligth-blue:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #8ca6db;
  height: 45px;
  transition: .4s;
  opacity: .5;
}
@media (max-width: 768px) {
  .btn_ligth-blue:before {
    height: 38px;
  }
}
.btn_ligth-blue:hover:before{
  left: 0;
  right: 0;
}
/* .btn_ligth-blue:hover {
  background: #168fc3b7;
} */
.btn_ligth-blue:active {
  background: #1690c3;
}

.btn_dark-blue {
  background: #0a467e;
  color: #ffffff;
  transition: 0.3s;
}
.btn_dark-blue:hover {
  background: #0a467ed6;
}
.btn_dark-blue:active {
  background: #0a467e;
}

.btn_white {
  background: #ffffff;
  border: 1px solid #dadada;
  color: #0a467e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn_white:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 51%;
  right: 51%;
  top: 0;
  background: linear-gradient(to right, #8ca6db, #b993d6);
  height: 45px;
  transition: .4s;
  opacity: .5;
}
@media (max-width: 768px) {
  .btn_white:before {
    height: 100%;
  }
}
.btn_white:hover:before{
  left: 0;
  right: 0;
}
.btn_white:hover{
  border: 1px solid #b993d6;
}
.btn_white:active {
  background: #ffffff;
  color: #b993d6;
}
.btn_white img {
  margin-right: 11px;
  margin-top: 1px;
}

.btn_transporent {
  position: relative;
}
.btn_transporent img {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: 0.3s;
}
.btn_transporent span {
  padding-left: 20px;
}
.btn_transporent:hover img {
  left: -3px;
}
.btn_transporent:hover {
  text-decoration: none;
}
.btn_transporent:active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .btn{
    width: 100%;
    height: 38px;
  }
}
